{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Senha</title>
   <link rel="stylesheet" type="text/css" href="{% static 'css/recuperacao.css' %}"> 
</head>

<body>
    <div class="auth-container">
        <h2>Recuperar Senha</h2>
        <p>Informe seu e-mail e enviaremos um link para redefinir sua senha.</p>

        <form method="POST">
            {% csrf_token %}
            {{ form.email.label_tag }}
            {{ form.email }}

            <button class="btn-auth" type="submit">Enviar link de recuperação</button>
        </form>

        <a class="auth-link" href="{% url 'login' %}">← Voltar ao login</a>
    </div>
</body>
</html>
