{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>E-mail enviado</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/recuperacao.css' %}">

</head>

<body>
    <div class="auth-container">
        <h2>Verifique seu e-mail</h2>
        <p>Enviamos instruções para redefinir sua senha. Caso não veja o e-mail, verifique a caixa de spam.</p>

        <a class="btn-auth" href="{% url 'login' %}">Voltar ao login</a>
    </div>
</body>
</html>
