{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Nova Senha</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/recuperacao.css' %}">

</head>

<body>
    <div class="auth-container">
        <h2>Redefinir Senha</h2>

        {% if validlink %}
            <form method="POST">
                {% csrf_token %}
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}

                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}

                <button class="btn-auth" type="submit">Salvar nova senha</button>
            </form>
        {% else %}
            <p>O link de redefinição é inválido ou expirou.</p>
        {% endif %}

        <a class="auth-link" href="{% url 'login' %}">Voltar ao login</a>
    </div>
</body>
</html>
