{% extends 'base.html' %}

{% block title %} Mais Informações... {% endblock %}

{% block center %}
<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-12">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h1 style="font-family: 'Arial'; font-weight: 600; font-size: 32px; color: rgb(0, 0, 0);">
                        <i class="bi bi-tags"></i> {{ tecs.nome_tecnico }}
                    </h1>
                    <p style="font-family: 'Arial', sans-serif; font-size: 24px; color: gray;">
                        Informações sobre o técnico cadastrado:
                    </p>
                </div>
                <div>
                    {% if user.is_administrador %}
                        <a href="{% url 'edit_tecs' tecs.pk %}" class="btn btn-primary" id="addProjectBtn">
                            <i class="fas fa-pencil-alt"></i> Editar
                        </a>
                        <a href="{% url 'delete_tecs' tecs.pk %}" onclick="return confirm('Tem certeza que deseja deletar este técnico?')" class="btn btn-primary" id="addProjectBtn">
                            <i class="fas fa-trash-alt"></i> Deletar
                        </a>
                    {% endif %}
                    <a href="{% url 'list_tecs' %}" class="btn btn-primary" id="addProjectBtn">
                         <i class="	fas fa-step-backward"></i> Voltar
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header" style="color: rgb(231, 237, 231); background-color: rgb(39, 129, 39);">
                    <h5 class="mb-0"><i class="	fas fa-info-circle"></i> Informações</h5>
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">Telefone:</dt>
                        <dd class="col-sm-9">{{ tecs.telefone}}</dd>
                        
                        <dt class="col-sm-3">CPF:</dt>
                        <dd class="col-sm-9">{{ tecs.cpf }}</dd>

                        <dt class="col-sm-3">Email:</dt>
                        <dd class="col-sm-9"> {{ tecs.email }}</dd>

                        <dt class="col-sm-3">Data de Nascimento:</dt>
                        <dd class="col-sm-9"> {{ tecs.data_nascimento }}</dd>

                        <dt class="col-sm-3">Especialidade:</dt>
                        <dd class="col-sm-9"> {{ tecs.especialidade }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

