{% load static %}
<div class="family-card" style="display: flex;">
    <div>
        <div class="subsystem-image">
             {% if subsistema.get_photo_url %}
                <img src="{{ subsistema.foto_subsistema.url }}" alt="{{ subsistema.nome_subsistema }}" class="form-subsystem-image" style="width: 150px; height: 170px; margin: -24px;">
            {% else %}
                {% if subsistema.id <= 33 %}
                    <img src="{% static 'img/fotos_subsistemas/' %}{{subsistema.id}}/{{subsistema.id}}.jpg" alt="Foto Padrão" class="form-subsystem-image" style="width: 150px; height: 170px; margin: -24px;">
                {% else %}
                    <img src="{% static 'img/fotos_subsistemas/default.png' %}" alt="Foto Padrão" class="form-subsystem-image" style="width: 150px; height: 170px; margin: -24px;">
                {% endif %}
            {% endif %}
        </div>
    </div>
    <div style="margin-left: 50px; flex-grow: 1;">
        <div class="family-header">
            <h3 class="family-name">{{ subsistema.nome_subsistema}}</h3>
        </div>
        
        <p>{{subsistema.descricao}}</p>
        
        <div class="family-actions">
            <button class="btn btn-outline btn-sm" onclick="redirect('{% url 'detail_subsystems' subsistema.id %}')">
                <i class="fas fa-eye"></i>
                Visualizar
            </button>

        </div>
    </div>
</div>