{% extends 'base.html' %}
{% load static %}
{% block center %}

<h1 class='title'>{% block title %}{{ title }}{% endblock title %}</h1>
<div class="controls-section">
  {% include "partials/search.html" %}
</div>
<div id='external-events'>
  <p><strong>Famílias:</strong></p>
  {% for family in families|slice:":10" %}
    <div class='external-event'> {{family.id}} {{family.get_nome_familia}} ({{family.get_nivel}})</div>
  {% endfor %}
</div>
<div id='calendar'></div>

{% endblock %}
{% block extra_js %}
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.css' rel='stylesheet'>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
    <script src="{% static 'js/calendar.js' %}"></script>
    <script>
        const toggleButton = document.getElementById('mobileMenuToggle');
        const sidebar = document.getElementById('sidebar');

        if (toggleButton && sidebar) {
        toggleButton.addEventListener('click', function(e) {
            e.stopPropagation();
            sidebar.classList.toggle('open');
        });

        document.addEventListener('click', function(e) {
            if (
            sidebar.classList.contains('open') &&
            !sidebar.contains(e.target) &&
            !toggleButton.contains(e.target)
            ) {
            sidebar.classList.remove('open');
            }
        });
        }
    </script>
{% endblock %}