{% extends 'base.html' %}
{% load static %}
{% block center %}

<div class="flow-header">
    <div class="flow-header-main">
        <h1 class='title'>{% block title %}{{ title }}{% endblock title %} da {{ family.get_nome_familia }}</h1>
    </div>
    <div>
        <button class="btn btn-primary btn-timeline" onclick="redirect('{% url 'edit_flow' id %}')">
            <i class="fas fa-edit"></i>
            Editar Subsistemas
        </button>
        <button class="btn btn-primary btn-timeline" onclick="redirect('{% url 'timeline' family.id %}')">
            <i class="fa-solid fa-timeline"></i>
            Timeline
        </button>
    </div>
</div>
<div style="margin-top: 10px;">
  <div class="flow-op d-flex align-items-center gap-3 mt-2">
    <p class="fw-semibold mb-0">Estilo:</p>

    <div class="form-check form-check-inline">
      <input style='margin-top: 4px;' class="form-check-input" type="radio" name="style" id="default" value="default"
            {% if style_mode == 'default' %}checked{% endif %}>
      <label class="form-check-label" for="default">Padrão</label>
    </div>

    <div class="form-check form-check-inline">
      <input style='margin-top: 4px;' class="form-check-input" type="radio" name="style" id="notext" value="notext"
            {% if style_mode == 'notext' %}checked{% endif %}>
      <label class="form-check-label" for="notext">Sem texto</label>
    </div>
  </div>
</div>
<div class="sandbox-wrapper" style="background-color: #f7f7f7ff;">
  <div id="sandbox">
    {% load mermaid %}
    {% startmermaid %}
      {{ conteudo_mermaid|safe }}
    {% endmermaid %}
  </div>
</div>
{% endblock %}
{% block extra_js %}
  <script src="https://unpkg.com/@panzoom/panzoom/dist/panzoom.min.js"></script>
  <script>
  document.addEventListener('DOMContentLoaded', function () {
    const element = document.getElementById('sandbox');
    if (element) {
      const panzoom = Panzoom(element, {
        maxScale: 5,
        minScale: 0.2,
        step: 0.2,
        contain: 'none',
        startScale: 1,
      });

      element.parentElement.addEventListener('wheel', panzoom.zoomWithWheel, { passive: false });
      panzoom.pan(0, 0);
    }

    const radiosStyle = document.querySelectorAll('input[name="style"]');

    function updateFlow() {
      const checked = document.querySelector('input[name="style"]:checked');
      const style = checked ? checked.value : 'default';
      const url = new URL(window.location.href);
      url.searchParams.set('style', style);
      window.location.href = url.toString();
    }

    radiosStyle.forEach(r => r.addEventListener('change', updateFlow));
});
    const toggleButton = document.getElementById('mobileMenuToggle');
    const sidebar = document.getElementById('sidebar');

    if (toggleButton && sidebar) {
    toggleButton.addEventListener('click', function(e) {
        e.stopPropagation();
        sidebar.classList.toggle('open');
    });

    document.addEventListener('click', function(e) {
        if (
        sidebar.classList.contains('open') &&
        !sidebar.contains(e.target) &&
        !toggleButton.contains(e.target)
        ) {
        sidebar.classList.remove('open');
        }
    });
    }
</script>
{% endblock %}