{% extends 'base.html' %}
{% load static %}
{% block center %}
<div class="flow-header">
    <div class="flow-header-main">
        <h1 class='title'>{% block title %}{{ title }}{% endblock title %} da {{ family.get_nome_familia }}</h1>
    </div>
</div>

<form method="post">
    {% csrf_token %}
    <div class="form-sandbox">
        {% for subsystem in subsystems %}
            <div class='form-subsystem-block' id="form-block{{ subsystem.id }}">
                <label>
                    <input type="checkbox" name="subsistemas" value="{{ subsystem.id }}"
                        {% if subsystem.id in selected_ids or subsystem.nome_subsistema == "UFPA" or subsystem.nome_subsistema == "Mercado Local" %}checked{% endif %}>
                    <div class="block-content">
                        <div >{{ subsystem.nome_subsistema }}</div>
                        {% if subsystem.get_photo_url %}
                            <img src="{{ subsystem.get_photo_url }}" alt="{{ subsystem.nome_subsistema }}" class="form-subsystem-image">
                        {% else %}
                            <img src="{% static 'img/fotos_subsistemas/' %}{{subsystem.id}}/{{subsystem.id}}.jpg" alt="imagem aleatória" class="form-subsystem-image">
                        {% endif %}
                    </div>
                </label>
            </div>
        {% endfor %}
    </div>
    <div class="subsystem-btn-submit">
        <button type="submit" class="btn btn-success">Salvar Subsistemas</button>
    </div>
</form>

{% endblock %}