{% extends 'base.html' %}
{% load static %}
{% block center %}
<div class="flow-header">
    <div class="flow-header-main">
        <h1 class="title">
            {% block title %}{{ title }}{% endblock title %} 
            {{ subsystem.nome_subsistema }} da {{ family.get_nome_familia }}
        </h1>
    </div>
    {% if type == 'readonly' %}
    <div>
      <button class="btn btn-primary btn-timeline"
              onclick="redirect('{% url 'flow' family.id %}')">
          <i class="fa-solid fa-shuffle"></i>
          Visualizar Fluxo
      </button>
      <button class="btn btn-primary btn-timeline"
              onclick="redirect('{% url 'edit_subsystems' subsystem.id %}')">
          <i class="fas fa-edit"></i>
          Editar Subsistema
      </button>
    </div>
    {% endif %}
</div>

<p>{{subsystem.descricao}}</p>
{% if type == 'edit' %}
<form method="post">
  {% csrf_token %}
  {% if formset.non_form_errors %}
    <div class="alert alert-danger">
      <ul>
        {% for err in formset.non_form_errors %}
          <li>{{ err }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <table class="table">
    <thead>
      {% if subsystem.tipo == "ME" %}
        <tr>
          <th>Produto</th>
          <th>Quantidade</th>
          <th>Unidade</th>
          <th>Custo Unitário</th>
          <th>Destino</th>
        </tr>
      {% else %}
        <tr>
          <th>Produto</th>
          <th>Quantidade</th>
          <th>Unidade</th>
          <th>Custo Unitário</th>
          <th>Valor Unitário</th>
          <th>Valor Não Monetário</th>
          <th>Destino</th>
        </tr>
      {% endif %}
    </thead>
    <tbody>
      {{ formset.management_form }}
      {% for form in formset %}
      <tr>
        <td>{{ form.nome_produto }}</td>
        <td>{{ form.qtd }}</td>
        <td>{{ form.und }}</td>
        <td>{{ form.custo }}</td>

        {% if subsystem.tipo != "ME" %}
          <td>{{ form.valor }}</td>
          <td>{{ form.valor_potencial }}</td>
        {% endif %}

        <td>{{ form.destino }}</td>
        <td>
          {% if form.DELETE %}
            {{ form.DELETE }} <label>Excluir</label>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <button type="submit" class="btn btn-success">Salvar</button>
</form>
{% else %}
  <table class="table">
    <thead>
      {% if subsystem.tipo == "ME" %}
        <tr>
          <th>Produto</th>
          <th>Quantidade</th>
          <th>Unidade</th>
          <th>Custo Unitário (R$)</th>
          <th>Destino</th>
          <th>Porcentagem</th>
        </tr>
      {% else %}
        <tr>
          <th>Produto</th>
          <th>Quantidade</th>
          <th>Unidade</th>
          <th>Custo Unitário (R$)</th>
          <th>Valor Unitário (R$)</th>
          <th>Valor Não Monetário (R$)</th>
          <th>Destino</th>
          <th>Porcentagem</th>
        </tr>
      {% endif %}
    </thead>
    <tbody>
      {% for produto in family_subsystem.produtos_saida %}
        {% if produto.fluxos %}
          {% for fluxo in produto.fluxos %}
            <tr>
              {% if forloop.first %}
                <td rowspan="{{ produto.fluxos|length }}">{{ produto.nome }}</td>
              {% endif %}
              <td>{{ fluxo.qtd|default:"-" }}</td>
              <td>{{ fluxo.und|default:"-" }}</td>
              <td>{{ fluxo.custo|default:"-" }}</td>

              {% if subsystem.tipo != "ME" %}
                <td>{{ fluxo.valor|default:"-" }}</td>
                <td>{{ fluxo.valor_potencial|default:"-" }}</td>
              {% endif %}

              <td>{{ fluxo.destino|default:"Sem Destino" }}</td>
              <td>{{ fluxo.porcentagem_calc|default:"0" }}%</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td>{{ produto.nome }}</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            {% if subsystem.tipo != "ME" %}
              <td>-</td>
              <td>-</td>
            {% endif %}
            <td>Sem Destino</td>
            <td>0%</td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

  <button class="btn btn-success" onclick="redirect('{% url 'edit_subsystem_panel' family.id subsystem.id %}')">
    <i class="fa-solid fa-shuffle"></i> Adicionar Fluxo
  </button>
{% endif %}

{% endblock %}